<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}"
    class="font-primary antialiased text-base text-gray-800 bg-white">

{% comment %}Site head{% endcomment %}
{% include partials/shortcodes.html %}
{% include partials/1-head.html %}

<body class="{{page.class}} mx-auto text-lg tracking-wide">

    <a id="skip-nav" class="sr-only" href="#main-content">Skip to content</a>

    {% comment %}Site navigation{% endcomment %}
    {% include partials/2-nav.html %}

    {% comment %}Page content{% endcomment %}
    <div aria-role="main">{{ content }}</div>

    {% comment %}Site footer{% endcomment %}
    {% include partials/3-footer.html %}

    {% comment %}Javascript file{% endcomment %}
    <!-- for mathjax support -->
    {% if page.usemathjax %}
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        jax: ["input/TeX","input/MathML","output/SVG", "output/CommonHTML"],
    extensions: ["tex2jax.js","mml2jax.js","MathMenu.js","MathZoom.js", "CHTML-preview.js"],
    TeX: {
      extensions: ["AMSmath.js","AMSsymbols.js","noErrors.js","noUndefined.js"]
    },
      tex2jax: {
          inlineMath: [ ['$','$'], ["\\(","\\)"] ],
          displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
          processEscapes: true,
          processEnvironments: true
        },
        "HTML-CSS": { availableFonts: ["TeX"] }
      });
    </script>
    <script type="text/javascript"
        src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML-full"></script>
    {% endif %}    
    <script>
        let links = document.querySelectorAll("a[data-analytics]");
        for (var i = 0; i < links.length; i++) {
            links[i].addEventListener('click', handleLinkEvent);
            links[i].addEventListener('auxclick', handleLinkEvent);
        }

        function handleLinkEvent(event) {
            var link = event.target;
            var middle = event.type == "auxclick" && event.which == 2;
            var click = event.type == "click";
            while (link && (typeof link.tagName == 'undefined' || link.tagName.toLowerCase() != 'a' || !link.href)) {
                link = link.parentNode;
            }
            if (middle || click) {
                let attributes = link.getAttribute('data-analytics').split(/,(.+)/);
                let events = [JSON.parse(attributes[0]), JSON.parse(attributes[1] || '{}')];
                plausible(...events);
            }
            if (!link.target) {
                if (!(event.ctrlKey || event.metaKey || event.shiftKey) && click) {
                    setTimeout(function () {
                        location.href = link.href;
                    }, 150);
                    event.preventDefault();
                }
            }
        }
    </script>
</body>

</html>